:root {
  --color-primary: #353353;
  --color-font: #fff;
  --color-btn: #ff4c60;
}
body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: var(--color-primary);
}
.logo-primary {
  font-size: 35px;
  font-weight: 900;
}
.logo-primary span {
  color: #cc5c00;
}
.sidebar {
  min-height: 100vh;
  width: 300px;
  color: var(--color-font);
  border-right: 1px solid #bdbdbb;
  padding: 50px;
}
.option-list .active {
  color: #ffbb00;
}
.option-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.option-list ul li {
  padding: 11px 0;
}
.option-list ul a {
  text-decoration: none;
  color: var(--color-font);
  font-weight: 500;
}
.option-list .items .bi {
  color: #ffbb00;
  margin-right: 15px;
}
@keyframes button-push {
  50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
  }

  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
.btn {
  border-radius: 30px;
  padding: 7px 28px;
}
.btn-default {
  background-color: var(--color-btn);
  color: var(--color-font);
  font-size: 15px;
  font-weight: 800;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.btn-default:hover {
  color: #fff;
  -webkit-animation-name: button-push;
  animation-name: button-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.user__avatar {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-image: url(https://img-cdn.pixlr.com/pixlr-templates/60a1ffb26a17ef389898fdd8/preview.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.section-home {
  color: var(--color-font);
}
.user__social .bi {
  margin: 0 5px;
  font-size: 20px;
}
.typed-cursor {
  
}

